[submodule "common"]
	path = common
	url = https://github.com/PO-Project/common-interface.git
[submodule "backends/vim-backend"]
	path = backends/vim-backend
	url = https://github.com/PO-Project/vim-backend.git
